@media(max-width:1200px){
    .main{
        display: block;
    }
    .content{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 12%;
        padding-left: 0px;
    }
}

@media(max-width:768px){
    html{
        font-size: 45%;
    }

    .content{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0px 40px;
    }

    .content .list-menu{
        display: none;
    }

    .um,
    .dois,
    .tres{
        width: 80%;
        height: 2px;
        background-color: white;
        margin: 6px auto;
        transition-duration: 0.5s;
    }

    .menu-toggle{
        width:30px ;
        height: 30px;
    }

    .content.on{
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(30 , 31, 30, 0.8);
        z-index: 10;
        display: flex;    }

    .itens-cardapio{
        grid-template-columns: repeat(2,minmax(50px,350px));
    }

    .itens-cardapio .info h4{
        margin-left: 12rem;
    }
}